.note {
  background: #ffff99;
  padding: 10px;
  height: 20rem;
  width: 20rem;
  margin: 16px;
}

.pin {
  color: black;
  position: absolute;
  top: -0.75rem;
  left: 9.75rem;
}

.note h1 {
  font-size: 1.5em;
  margin-bottom: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  all: unset;
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
  margin-right: 10px;
  color: black;
  border: none;
  font-size: large;
  cursor: pointer;
  outline: none;
  background-color: none;
}
