
form {
    position: relative;
    height: 20rem;
    width: 20rem;
    margin: 2rem auto 2rem auto;
    background: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: .25rem;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    background: white
  }
  form button {
    all: unset;
    position: absolute;
    right: .25rem;
    bottom: .25rem;
    color: black;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }